@page "/newinstallments"
@inject AppState appState;

@if(appState.Mortgage.NewInstallments.Count == 0)
{
    <h1>LOADING</h1>
}
else
{
    <InstallmentSummaryTable Installment="appState.Mortgage.AdditionalPaymentSummary.NewInstallment"
                             RemainingMonths="appState.Mortgage.AdditionalPaymentSummary.NewPeriod" />

    <InstallmentTable Installments="appState.Mortgage.NewInstallments" />

    <InstallmentSummaryTable Installment="appState.Mortgage.AdditionalPaymentSummary.NewInstallment"
                             RemainingMonths="appState.Mortgage.AdditionalPaymentSummary.NewPeriod" />

    <AdditionalPaymentSummary InstallmentDifference="appState.Mortgage.AdditionalPaymentSummary" />
}

@code {

}
